@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits KudoCode.Web.Infrastructure.Blazor.Infrastructure.KudoCodeUiComponent

<div class="row">
    <div class="@ColClass(0) col-sm-offset-3 ">
    </div>
    <div class="@ColClass(1) col-sm-offset-3">
        <input
            type="button"
            class="btn @(string.IsNullOrWhiteSpace(Class) ? "form-control btn-primary textbox-btn" : Class)"
            value="@Value"
            id="@Id"
            @onclick="@OnClick"
/>
    </div>
</div>


@functions
{

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public EventCallback<object> Click { get; set; }

    void OnClick(object args)
    {
        Click.InvokeAsync(args).Wait();
    }

}