@page "/dashboard"
@using System.Diagnostics
@using System.Linq.Expressions
@using KudoCode.LogicLayer.Dtos.Portfolios.Outbound
@using KudoCode.Web.Blazor.Application.ViewModels
@using KudoCode.Web.Infrastructure.Domain
@using KudoCode.Web.Infrastructure.Domain.Execution
@using Microsoft.AspNetCore.Components
@using SharedComponents

@inject NavigationManager UriHelper

@inherits KudoCode.Web.Infrastructure.Blazor.Infrastructure.KudoCodePageComponent

@{ var colLabelText = new int[] { 3, 9 }; }

<div id="Dashboard">
	<MessagesComponent Messages="@_viewModel.Messages" />

	<div class="card">
		<div class="card-header">
			This is the header content
		</div>

		<div class="card-body">
			<div class="card-text">
				<KudoCodeDate ReadOnly=@Edit ColSize="@colLabelText" Title="Date Box" Format="@Configuration["DateFormat"]" SelectedDate="@Date" Id="testDate"
							  OnChange="@(x => Date = x)" />
				<KudoCodeButton Id="testButton" Value="Test Button" Click="@(() => { Action(); })" />
			</div>
		</div>

		<div class="card-footer">
			This is the footer content
		</div>
	</div>
</div>

@functions
{
	DateTime Date = DateTime.Now;
	bool Edit = true;

	WebResponseDto<DashboardViewModel> _viewModel;

	protected override async Task OnInitializedAsync()
	{
		await Task.Run(() => { _viewModel = new WebResponseDto<DashboardViewModel>(); });
	}

	void Action()

	{
		Edit = !Edit;
		var x = Date.ToString();

		Navigation.GoTo("portfolio-getList");
	}

}